http://setup.cycloneport.com {
	reverse_proxy 127.0.0.1:5000
}

:80 {
	route /setup/* {
		uri strip_prefix setup
		reverse_proxy 127.0.0.1:5000
	}
	route /video-manager/* {
		uri strip_prefix video-manager
		reverse_proxy 127.0.0.1:8081
	}
	route /usb-cams/* {
		uri strip_prefix usb-cams
		reverse_proxy 127.0.0.1:8082
	}
	route /net-cams/* {
		uri strip_prefix net-cams
		reverse_proxy 127.0.0.1:8083
	}
	route /debug/logs* {
		reverse_proxy 127.0.0.1:8888
	}
	reverse_proxy 127.0.0.1:4000
}
